<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="scrumwiseUser" value="niels@freeway.dk" />
    <add key="scrumwiseKey" value="591D5EAF2868B8B0531D9B0BF03A017AE3F87BFFDF6A4919FC375CB6229B7351" />
    <add key="scrumwiseAPI" value="https://api.scrumwise.com/service/api/v1/" />
    <add key="scrumwiseKanbanizeTag" value="191469-2533-1" />
    <add key="scrumwiseRejectedTag" value="191469-2715-0"/>
    <!--CSV list matches a set of keys scrumwiseProjectID,scrumwiseBacklogListID,kanbanizeBoardID,kanbanizeLane-->
    <add key="scrumwiseProjectID" value="191469-0-5" />
    <!--CSV list matches a set of keys scrumwiseProjectID,scrumwiseBacklogListID,kanbanizeBoardID,kanbanizeLane-->
    <add key="scrumwiseBacklogListID" value="191469-27-31"/>
    <!--CSV list matches a set of keys scrumwiseProjectID,scrumwiseBacklogListID,kanbanizeBoardID,kanbanizeLane-->
    <add key="kanbanizeBoardID" value="9" />
    <!--CSV list matches a set of keys scrumwiseProjectID,scrumwiseBacklogListID,kanbanizeBoardID,kanbanizeLane-->
    <add key="kanbanizeLane" value="til udvikler" />
    <add key="kanbanizeAPI" value="https://freeway.kanbanize.com/index.php/api/kanbanize" />
    <add key="kanbanizeAPIKey" value="apikey" />
    <add key="kanbanizeAPIKeyValue" value="mMt64VOgJK4pqlSKhnE6XUCoLDCOcbAEoFUtUJjI" />
  </appSettings>
</configuration>
