<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="scrumwiseUser" value="niels@freeway.dk" />
    <add key="scrumwiseKey" value="591D5EAF2868B8B0531D9B0BF03A017AE3F87BFFDF6A4919FC375CB6229B7351" />
    <add key="scrumwiseAPI" value="https://api.scrumwise.com/service/api/v1/" />
    <add key="scrumwiseProjectID" value="191469-0-5" />
    <add key="scrumwiseBacklogListID" value="191469-2596-3"/>
    <add key="scrumwiseTeamID" value="191469-0-10"/>
    <add key="scrumwiseTemplateTagID" value="191469-2533-91"/>
    <add key="scrumwiseEstimateUnit" value="Hours"/>
  </appSettings>
</configuration>